* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-face */
.old-standard-tt {
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
    font-style: normal;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #212322;
    scroll-behavior: smooth;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EBE3D7;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 90px;
}

.top-options ul {
    list-style: none;
    display: flex;
    gap: clamp(15px, 30px, 40px);
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.top-options li a {
    font-size: 1.15rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    white-space: nowrap;
    color: #212322;
    font-weight: 350;
}

/* Đường gạch ẩn ban đầu */
.top-options li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #C6AA76;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.top-options li a:hover {
    color: #C6AA76;
    font-weight: 400;
}

/* Gạch hiện */
.top-options li a:hover::after {
    width: 100%;
}