.map-container {
    width: 100%;
    height: 600px;
    padding: 20px 150px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-info {
    padding: 0 150px;
    padding-bottom: 100px;
}

.contact-info h1 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1rem;
    line-height: 1.875rem;
    margin-bottom: 10px;
    font-weight: 350;
}