* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
h1 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 1.8rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vw;
}
h2 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: clamp(0.68rem, 2.5vw, 1.35rem);
}
.language-selection {
  text-align: right;
  font-size: 1em;
  display: block;
}
nav.top-page {
  text-align: center;
  text-decoration: none;
  background-image: url("../../images/homepage/home_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  background-color: #ebe3d7;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5vw;
}
.language-style {
  background: transparent;
  border: 0;
}
.room {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3vw;
  max-width: 53vw;
  /* max-height: 25vh; */
}
.room__image > img {
  max-height: 25vh;
  max-width: 17vw;
}
.room__detail {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.room__detail__booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.room__detail__booking__price {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: end;
}
.room__detail__booking__price > p {
  font-family: "Old Standard TT", serif;
  font-size: clamp(1rem, 3vw, 1.8rem);
}
.room__detail__booking__price > button {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  width: 10vw;
  height: 5vh;
  text-align: center;
  border: 1px solid #212322;
  background: transparent;
  font-size: clamp(0.5rem, 2.2vw, 0.8rem);
}
.payment {
  display: flex;
  flex-direction: column;
  max-width: 17vw;
  padding: 0 1vw;
  background-color: #faf8f5;
  box-sizing: border-box;
}
.payment h2 {
  font-size: clamp(0.75rem, 2.5vw, 1.55rem);
  margin-top: 2vh;
  text-align: center;
  font-weight: 400;
}
.payment span {
  font-size: clamp(0.5rem, 2vw, 0.75rem);
  font-weight: 300;
  padding-top: 1.5vh;
}
.payment p {
  font-size: clamp(0.5rem, 2vw, 0.78rem);
  font-weight: 200;
  margin-top: 1vh;
}
.payment__image > img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding-bottom: 1vh;
}
.payment__detail {
  font-size: clamp(0.5rem, 2vw, 0.75rem);
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.payment__detail > img {
  max-width: 1vw;
  max-height: 1vw;
  margin-right: 0.7vw;
}
.phase {
  display: flex;
  justify-content: center;
  background-color: #faf8f5;
}
.phase ul {
  color: black;
  list-style: none;
  font-size: clamp(0.6rem, 2.8vw, 1.11rem);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  height: 5vh;
  align-items: center;
  gap: 1vw;
}
.upcoming__phase {
  opacity: 0.5;
}
.phase li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.phase li:nth-child(even) {
  width: 40px;
  height: 1px;
  background-color: #cdcfce;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.room-type {
  font-weight: bold;
  font-size: 2em;
}
.payment__button {
  margin-top: 4.5vh;
  margin-bottom: 2.7vh;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: auto;
  background-color: #212322;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
}
.payment__button {
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}
.payment__button:active {
  transform: scale(0.95);
  background-color: #ebe3d7;
  color: #212322;
}
.special__request {
  max-width: 53vw;
  display: flex;
  flex-direction: column;
}
.special__request h2 {
  font-size: clamp(0.85rem, 2.5vw, 1.7rem);
  font-weight: 700;
}
.special__request span {
  font-size: clamp(0.5rem, 2vw, 0.78rem);
  margin-top: 1.2vh;
  font-family: "Old Standard TT", serif;
}
.checkbox__option {
  margin-top: 5.2vh;
  max-width: 45vw;
  margin-bottom: 5.2vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.2vh;
}
label {
  font-size: clamp(0.65rem, 2.3vw, 1.35rem);
}
.checkbox__option input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.commment__box {
  height: 150px;
  max-width: 53vw;
  border: 1px solid #000000;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 12px;
  padding-left: 12px;
}
.room__sum {
  display: flex;
  justify-content: center;
  gap: 4vw;
}
.room__request {
  display: flex;
  flex-direction: column;
  gap: 9vh;
}
@media (max-width: 500px) {
  .phase ul li {
    display: none;
  }
  .phase ul li:nth-child(5) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .room__sum {
    flex-direction: column;
  }
  .room {
    max-width: 90%;
    padding: 5%;
  }
  .room__image > img {
    max-width: 100vw;
    height: 10vh;
  }
  .room__request {
    gap: 1vh;
  }
  .special__request {
    max-width: 90%;
    padding: 5%;
  }
  .commment__box {
    max-width: 90%;
  }
  .payment {
    max-width: 100%;
  }
}
/*font family*/
.old-standard-tt {
  font-family: "Old Standard TT", serif;
  font-weight: normal;
  font-style: normal;
}
.roboto-standard {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
